@media only screen and (max-width : 990px) {
    .navbar-nav {
        background-color: #3F3D56C2;
        border-radius: 15px;
        font-weight: bold;
    }
}

@media only screen and (max-width : 1100px) {
    .Navbar-clockIcon {
        display: none;
    }
}

.navbar-title {
    font-size: 5rem;
    font-family: "Just_Another_Hand";
    vertical-align: text-bottom;
}

@media only screen and (max-width: 650px) {
    .navbar-title {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 650px) {
    .navbar-title {
        display: none;
    }
}

@media only screen and (max-width : 990px) {
    .navbar-nav {
        background-color: #3F3D56C2;
        border-radius: 15px;
        font-weight: bold;
    }
}

.nav-item {
    font-size: 2rem;
    color: #CC2F02BF;
}

.navbar-toggler-icon {
    background-image: url("../Images/HamburgerIcon.png");
}

.nav-link:hover {
    cursor: pointer;
}